.fullslide img {
  margin-top: -85px;
  margin-left: -60px;
}

.code40 .remark-code{
  font-size: 40%
}

.code50 .remark-code{
  font-size: 50%
}

.code60 .remark-code{
  font-size: 60%
}

.code70 .remark-code{
  font-size: 60%
}

.code80 .remark-code{
  font-size: 70%
}